<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="tab1">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Pending</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="checkmark-done-circle-outline"></ion-icon>
      <ion-label>Finished</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>