<ion-list color="dark">
  <ion-item-sliding *ngFor="let list of wishlistService.lists | finishedFilter:finished">
    <ion-item detail color="dark" (click)="selectedList(list)">
      <ion-label>{{list.title}}</ion-label>
      <ion-note slot="end" color="tertiary">{{list.items.length}} item(s)</ion-note>
    </ion-item>

    <ion-item-options side="start">
      <ion-item-option (click)="editList(list)">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option (click)="deleteList(list)" color="danger">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>