<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button color="tertiary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{list.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-list color="dark">
    <ion-item color="dark">
      <ion-label position="floating">New item</ion-label>
      <ion-input type="text" [(ngModel)]="itemName" (keyup.enter)="addItem()"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="dark" *ngIf="list.items.length === 0">
      <ion-label>Work to do</ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of list.items; let i = index" class="animated fadeInDown">
      <ion-item color="dark">
        <ion-checkbox slot="start" color="tertiary" [(ngModel)]="item.isFinished" (ionChange)="changeCheck(item)">
        </ion-checkbox>
        <ion-label>{{item.desc}}</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="delete(i)" color="danger">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>





</ion-content>