<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Finished lists
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <app-lists [finished]="true"></app-lists>
</ion-content>