<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Wish list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-lists [lists]="lists" [finished]="false" ></app-lists>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="addList()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>